<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application tools:node="merge">
        <activity
            android:name=".presentation.ui.LogsActivity"
            android:exported="false"
            android:theme="@style/BaseTheme"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="${applicationId}.androidx-startup">
            <meta-data
                android:name="com.igarza.debuglogger.data.worker.DebugLoggerWorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver
            android:name="com.igarza.debuglogger.data.notification.LogNotificationReceiver"
            android:exported="false" />
    </application>
</manifest>